name: Beta Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Get current node version
        id: node-version
        run: |
          node_version=$(node -v)
          echo "node_version=$node_version" >> $GITHUB_OUTPUT

        # Attempt to cache all the node_modules directories based on the node version and package lock.
      - name: Cache node_modules
        id: npm-cache
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules-${{ steps.node-version.outputs.node_version }}
        with:
          key: ${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          path: '**/node_modules'

      # If the cache missed then install using `npm ci` to follow package lock exactly
      - if: ${{ steps.npm-cache.outputs.cache-hit != 'true'}}
        name: Install NPM Dependencies
        run: npm ci

      - name: Modify package.json version
        run: node .github/version-script.js BETA

      - name: Build
        run: npm run build

      - name: Publish next-on-pages Beta to NPM
        working-directory: ./packages/next-on-pages
        run: npm publish --tag beta
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish eslint-plugin-next-on-pages Beta to NPM
        working-directory: ./packages/eslint-plugin-next-on-pages
        run: npm publish --tag beta
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
