name: Beta Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install Dependencies
        run: npm ci

      - name: Modify package.json version
        run: node .github/version-script.js

      - name: Build
        run: npm run build

      - name: Publish Beta to NPM
        run: npm publish --tag beta
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
