name: Create Pull Request Prerelease

on: pull_request

jobs:
  build:
    if: ${{ github.repository_owner == 'cloudflare' }}
    name: Build & Publish a Prerelease to the Adhoc Registry
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: ./.github/actions/node-setup

      - name: Modify package.json version
        run: node .github/version-script.js PR=${{ github.event.number }}

      - name: Build
        run: npm run build
        env:
          NODE_ENV: 'production'

      - name: Create next-on-pages package
        working-directory: ./packages/next-on-pages
        run: npm pack

      - name: Upload packaged next-on-pages artifact
        uses: actions/upload-artifact@v2
        with:
          name: npm-package-next-on-pages-${{ github.event.number }} # encode the PR number into the artifact name
          path: ./packages/next-on-pages/cloudflare-next-on-pages-*.tgz

      - name: Create eslint-plugin-next-on-pages package
        working-directory: ./packages/eslint-plugin-next-on-pages
        run: npm pack

      - name: Upload packaged eslint-plugin-next-on-pages artifact
        uses: actions/upload-artifact@v2
        with:
          name: npm-package-eslint-plugin-next-on-pages-${{ github.event.number }} # encode the PR number into the artifact name
          path: ./packages/eslint-plugin-next-on-pages/eslint-plugin-next-on-pages-*.tgz
